/*
  SkyApp Boostrap Sass Theme
  Author: Suyong EUM
  Version: 0.0.1
 */
/* BASE - Base styles, variables, mixins, etc */
/* Font Colors */
/* Background Colors */
/* Showcase Area */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #666666; }

a {
  color: #00aff0; }

ul, li {
  list-style: none; }

input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

img.device {
  width: 100%; }

img.device-small {
  width: 70%;
  margin-bottom: -45px; }

h1, h2, h3, h4, h5 {
  margin-top: 0; }

.page-header {
  margn-top: 30px; }

.no-pad-top {
  padding-top: 0; }

.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px; }

.top-inner {
  padding: 90px 0 30px 0; }

/* Image Size */
.img-xsm {
  width: 100px; }

.img-sm {
  width: 200px; }

.img-lg {
  width: 400px; }

.img-xlg {
  width: 700px; }

/* MODULE - Individual site components */
/* Blocks */
.block, .block-primary, .block-secondary, .block-light {
  padding: 15px;
  margin-bottom: 15px; }
  .block h3, .block-primary h3, .block-secondary h3, .block-light h3 {
    margin-top: 0;
    padding-top: 0; }

.block-primary {
  background: #00aff0;
  color: #ffffff; }

.block-secondary {
  background: #7fba00;
  color: #ffffff; }

.block-light {
  background: #e4eef2;
  color: #666666; }

.block-center {
  text-align: center !important; }

.block-image img {
  width: 100%; }

.block-border {
  border: 1px solid #cccccc; }

.block-primary-head h3 {
  padding: 15px 5px 15px 10px;
  background: #00aff0;
  color: #ffffff;
  margin: 0;
  font-size: 18px; }
.block-primary-head .block-content {
  border: 1px solid #00aff0;
  padding: 10px; }
.block-primary-head .block-content-blog {
  border: 1px solid #00aff0;
  padding: 10px 80px 20px 50px; }
  .block-primary-head .block-content-blog h4 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px; }

.block-icon h2 {
  margin: 0;
  padding: 0; }
.block-icon p {
  margin: 0;
  padding: 0; }
.block-icon .icon {
  float: left;
  width: 20%;
  margin-top: 10px; }
.block-icon .icon-content {
  float: left;
  width: 80%; }

/* buttons */
.btn-primary {
  background: #00aff0;
  color: #ffffff;
  border: 2px solid #ffffff; }

.btn-primary:hover {
  background: #008abd;
  border: 2px solid #ffffff; }

/* Carousel */
.carousel {
  margin-bottom: 20px; }

.carousel img {
  padding: 3px;
  border: 1px solid #cccccc; }

/* Tab  */
.tab-primary .tab-pane, .tab-primary .nav-tabs > li.active > a,
.tab-primary .tab-pane, .tab-primary .nav-tabs > li.active > a:hover,
.tab-primary .tab-pane, .tab-primary .nav-tabs > li.active > a:focus {
  background: #00aff0;
  color: #ffffff; }

.tab-secondary .tab-pane, .tab-secondary .nav-tabs > li.active > a,
.tab-secondary .tab-pane, .tab-secondary .nav-tabs > li.active > a:hover,
.tab-secondary .tab-pane, .tab-secondary .nav-tabs > li.active > a:focus {
  background: #cccccc;
  color: #ffffff; }

.tab-pane {
  padding: 20px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px; }

/* Section */
section {
  padding: 30px 0; }

.section-showcase {
  height: 350px;
  background: url("../img/showcase.jpg") no-repeat top center;
  background-size: cover; }
  .section-showcase .showcase-content {
    padding: 110px 15px;
    text-align: center; }
    .section-showcase .showcase-content .downloads img {
      width: 200px; }
  .section-showcase h1 {
    color: #00aff0; }

.section-primary, .section-primary-a, .section-primary-b {
  background: #00aff0;
  color: #ffffff; }

.section-secondary {
  background: #7fba00;
  color: #ffffff; }

.section-light {
  background: #e4eef2;
  color: #666666; }

.section-dark {
  background: #333333;
  color: #ffffff; }

.section-primary-a {
  border-top: 4px solid #7fba00; }

.section-primary-b {
  border-bottom: 4px solid #7fba00; }

.section-white {
  background: #ffffff; }

.section-map-iframe {
  text-align: center; }

/* List */
ul.list, ul.list-feature {
  margin-bottom: 30px; }

.list-feature {
  margin: 0;
  padding: 0;
  width: 80%; }
  .list-feature li {
    line-height: 3.6em;
    border-bottom: 1px solid #cccccc; }
  .list-feature li:last-child {
    border: 0;
    padding: 0; }
  .list-feature span {
    vertical-align: top;
    padding-top: 9px;
    font-size: 120%; }
  .list-feature i {
    margin-top: -9px;
    margin-right: 5px; }

/* blog */
.list-comments {
  margin: 0;
  padding: 0; }
  .list-comments li {
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #cccccc;
    overflow: auto; }
  .list-comments li:last-child {
    border: 0; }
  .list-comments img {
    float: left;
    width: 30%;
    margin-right: 15px;
    border-radius: 50%; }

/* blog */
.list-location {
  margin: 0;
  padding: 0; }

/* icons */
.fa-2 {
  font-size: 18px; }

.fa-3 {
  font-size: 24px; }

.fa-4 {
  font-size: 27px; }

.fa-5 {
  font-size: 35px; }

.fa-6 {
  font-size: 40px; }

.fa-primary {
  color: #00aff0; }

.fa-border {
  border: 2px solid #00aff0;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  padding: 13px 15px;
  width: 70px;
  margin-bottom: 10px; }

.icon_color {
  color: #00aff0; }

/* heading */
.heading-primary, .heading-primary-a, .heading-primary-b {
  color: #00aff0; }

.heading-primary-a {
  border-bottom: 2px solid #00aff0; }

.heading-primary-b {
  border-bottom: 2px solid #ddd; }

.heading-secondary, .heading-secondary-a {
  color: #7fba00; }

.heading-secondary-a {
  border-bottom: 2px solid #7fba00; }

.heading-light {
  color: #e4eef2; }

.heading-dark {
  color: #333333; }

/* emphasis test */
.em-primary {
  color: #00aff0; }

/* blog */
/* Search box */
.search {
  width: 100%; }
  .search h3 {
    margin-top: 0;
    padding-top: 0; }
  .search input {
    border: 0;
    height: 50px;
    width: 80%;
    border: 2px solid #00aff0;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 5px; }
  .search button {
    border: 0;
    padding: 0;
    vertical-align: top;
    margin-left: -4px; }
    .search button img {
      height: 50px; }

.contact_form div {
  padding: 5px 0 10px 0; }
.contact_form button {
  margin-top: 10px;
  border-radius: 5px; }

/* LAYOUT - Page layout styles */
/* footer */
.footer-main {
  background: #005271;
  border-top: 5px solid #7fba00;
  min-height: 200px;
  padding: 30px 0;
  position: relative;
  z-index: 100; }
  .footer-main a {
    color: #e4eef2; }
  .footer-main h4 {
    color: #e4eef2; }
  .footer-main ul {
    margin: 0;
    padding: 0; }
  .footer-main li {
    line-height: 1.8em;
    line-style: none; }

/* Navbar */
.navbar {
  width: 90%;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #ffffff;
  margin-bottom: 30px; }
  .navbar a {
    color: #00aff0 !important;
    font-size: 20px;
    letter-spacing: -0.5px;
    padding-bottom: !important;
    padding-top: !important; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: #00aff0 !important;
  color: #ffffff !important; }

.navbar-toggle {
  background: #040750; }

.blog-post {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding: 15px;
  min-height: 250px; }
  .blog-post h2.page-header {
    margin-top: 5px !important;
    color: #00aff0; }

.blog-featured {
  border: 1px solid #ddd;
  float: left;
  font-size: 20em;
  margin-right: 15px; }

.post-meta {
  background: #f3f3f3;
  color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  color: #666666;
  margin-bottom: 20px; }
  .post-meta span {
    float: right;
    padding-right: 5px; }

.embed-responsive iframe {
  background: #00aff0; }

.embed-responsive-item {
  padding: 5px; }

@media (max-width: 768px) {
  .search {
    display: inline-block;
    text-align: center; }

  .device {
    display: block;
    margin: 20px auto 0 auto; }

  .device-small {
    margin-bottom: 20px !important; }

  .footer-main ul {
    margin-bottom: 20px;
    text-align: center; }
  .footer-main h4 {
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
