h1, h2, h3, h4, h5 {
  margin-top:0;
}

.page-header {
  margn-top: 30px;
}

.no-pad-top {
  padding-top: 0;
}

.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

.top-inner {
  padding: 90px 0 30px 0;
}