
/* List */

ul.list {
  margin-bottom: 30px;
}

.list-feature {
  @extend .list;
  margin: 0;
  padding: 0;
  width: 80%;

  li {
    line-height: 3.6em;
    @include add-border(1px, #cccccc, bottom);
  }

  li:last-child {
    border: 0;
    padding: 0;
  }

  span {
    vertical-align: top;
    padding-top: 9px;
    font-size: 120%;
  }

  i {
    margin-top: -9px;
    margin-right: 5px;
  }
}

/* blog */


.list-comments {

  margin: 0;
  padding: 0;

  li {
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #cccccc;
    overflow: auto;
  }

  li:last-child {
    border: 0;
  }

  img {
    float: left;
    width: 30%;
    margin-right: 15px;
    border-radius: 50%;
  }
}


/* blog */


.list-location {
  margin: 0;
  padding: 0;

  li {

  }

}





/* icons */

.fa-2 {
  font-size: 18px;
}

.fa-3 {
  font-size: 24px;
}

.fa-4 {
  font-size: 27px;
}

.fa-5 {
  font-size: 35px;
}

.fa-6 {
  font-size: 40px;
}

.fa-primary {
  color: $primary-color;
}

.fa-border {
  @include add-border(2px, $primary-color, all);
  @include border-radius(9px);
  padding: 13px 15px;
  width: 70px;
  margin-bottom: 10px;
}


.icon_color {
  color: $primary-color;
}

/* heading */

.heading-primary {
  color: $primary-color;
}

.heading-primary-a {
  @extend .heading-primary;
  @include add-border(2px, $primary-color, 'bottom');
}

.heading-primary-b {
  @extend .heading-primary;
  @include add-border(2px, #ddd, 'bottom');
}


.heading-secondary {
  color: $secondary-color;
}

.heading-secondary-a {
  @extend .heading-secondary;
  @include add-border(2px, $secondary-color, 'bottom');
}

.heading-light {
  color: $light-color;
}

.heading-dark {
  color: $dark-color;
}

/* emphasis test */

.em-primary {
  color: $primary-color;
}

/* blog */
